/* generic */
.bold {
  font-weight: bold;
}
.glowWhiteText {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* item */
.item {
  position: relative;
  width: 320px;
  min-height: 20px;
  border-radius: 12px;
  border: 1px solid #ad7a66;
  background-image: url('../../assets/pattern.jpg');
  background-size: cover;
  color: #401708;
}

.item .title {
  font-weight: bold;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ad7a66;
}

.item .imageBox {
  height: 200px;
  position: relative;
  border-bottom: 1px solid #ad7a66;
}

.item .cost {
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
}
.item .cost .resource {
  margin: 4px 0 0 4px;
}

.item .resource {
  height: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: left top;
}

.item .resourceNumber {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item .gold {
  background-image: url('../../assets/gold.png');
}

.item .wild {
  background-image: url('../../assets/wild.png');
}

.item .red {
  background-image: url('../../assets/red.png');
}

.item .green {
  background-image: url('../../assets/green.png');
}

.item .blue {
  background-image: url('../../assets/blue.png');
}

.item .black {
  background-image: url('../../assets/black.png');
}

.item .red .resourceNumber,
.item .green .resourceNumber,
.item .blue .resourceNumber {
  padding-top: 9px;
}

.item .black .resourceNumber {
  padding-top: 7px;
}

.item .gold .resourceNumber,
.item .wild .resourceNumber {
  padding-top: 6px;
}

.item .creatures {
  position: absolute;
  right: 0;
  top: 2px;
}

.item .creature {
  height: 46px;
  width: 46px;
  display: block;
}

.item .collect {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6px;
}

.item .collectContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ddcdd0;
  border: 2px solid #bf8d0d;
  border-radius: 26px;
  padding: 3px 14px 3px 30px;
  position: relative;
  min-width: 60px;
}

.item .collectIcon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -14px;
  top: 4px;
}

.item .plus {
  /* padding: 0 4px; */
  line-height: 20px;
  font-size: 20px;
}
.item .slash {
  /* padding: 0 4px; */
  line-height: 20px;
  font-size: 40px;
}

.item .discount,
.item .action,
.item .reaction {
  border-bottom: 1px solid #ad7a66;
}

.item .footer {
  min-height: 22px;
}

.item .points {
  background-color: #cc0e2a;
  width: 32px;
  height: 32px;
  border-radius: 18px;
  font-size: 28px;
  line-height: 28px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #82221e;
}

.item .moon {
  position: absolute;
  bottom: 8px;
  left: 8px;
  background-color: lightyellow;
  height: 10px;
  width: 10px;
  border-radius: 7px;
  box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.6);
}

.item .startingHand {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 11px;
  line-height: 10px;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.item .startingHand.color1 {
  color: #550000;
  background-color: #ffe1e1;
}
.item .startingHand.color2 {
  color: #000055;
  background-color: #ddeeff;
}
.item .startingHand.color3 {
  color: #005500;
  background-color: #deffde;
}
.item .startingHand.color4 {
  color: #550055;
  background-color: #f5ddff;
}

.item .join {
  display: flex;
  align-items: center;
  justify-content: center;
}
