$border: #ad7a66;
$text: #401708;
$whiteOpacity: rgba(255, 255, 255, 0.6);

/* generic */
.bold {
  font-weight: bold;
}
.glowTextLight {
  color: white;
  text-shadow: -1px 0 $text, 0 1px $text, 1px 0 $text, 0 -1px $text;
}

.glowTextDark {
  color: $text;
  text-shadow: -1px 0 $whiteOpacity, 0 1px $whiteOpacity, 1px 0 $whiteOpacity,
    0 -1px $whiteOpacity;
}

.sidePadding2 {
  padding: 0 2px;
}

/* item */
.item {
  position: relative;
  width: 380px;
  min-height: 20px;
  border-radius: 12px;
  border: 1px solid $border;
  background-image: url('../../assets/pattern.jpg');
  background-size: cover;
  color: $text;

  .title {
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid $border;
  }

  .imageBox {
    height: 200px;
    position: relative;
    border-bottom: 1px solid $border;
  }

  .cost {
    position: absolute;
    left: 8px;
    top: 0;
    .resources {
      background-color: $whiteOpacity;
      padding: 2px 0;
    }
    .resource {
      margin: 2px 4px;
    }
    .triangle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 44px 0 0;
      border-color: $whiteOpacity transparent transparent transparent;
    }
  }

  .resource {
    position: relative;
    height: 36px;
    min-width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 36px 36px;
    background-position: left top;

    .number {
      height: 36px;
      width: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .equalsIcon {
      position: absolute;
      top: 0;
      right: -1px;
      height: 12px;
    }

    &.discard {
      padding-bottom: 4px;

      .discardIcon {
        position: absolute;
        bottom: 0;
        left: -3px;
        height: 16px;
      }
    }

    &.gold {
      background-image: url('../../assets/gold.png');
    }

    &.wild {
      background-image: url('../../assets/wild.png');
    }

    &.red {
      background-image: url('../../assets/red.png');
    }

    &.green {
      background-image: url('../../assets/green.png');
    }

    &.blue {
      background-image: url('../../assets/blue.png');
    }

    &.black {
      background-image: url('../../assets/black.png');
    }

    &.red .number,
    &.green .number,
    &.blue .number {
      padding-top: 9px;
    }
    &.black .number {
      padding-top: 7px;
    }
    &.gold .number,
    &.wild .number {
      padding-top: 4px;
    }

    &.zero {
      font-size: 22px;
      line-height: 22px;
    }
  }

  .creatures {
    position: absolute;
    right: 5px;
    top: 2px;

    .creature {
      height: 44px;
      display: block;
    }
  }

  .collect {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6px;
  }

  .collectContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ddcdd0;
    border: 2px solid #bf8d0d;
    border-radius: 26px;
    padding: 3px 14px 3px 30px;
    position: relative;
    min-width: 58px;
  }

  .collectIcon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -14px;
    top: 1px;
  }

  .plus {
    padding: 0 4px;
    line-height: 20px;
    font-size: 20px;
  }
  .slash {
    padding: 0 2px;
    line-height: 10px;
    font-size: 40px;
    margin-top: -8px;
  }

  .discount,
  .action,
  .reaction {
    border-bottom: 1px solid $border;
  }

  .footer {
    min-height: 22px;
  }

  .points {
    background-color: #cc0e2a;
    width: 32px;
    height: 32px;
    border-radius: 18px;
    font-size: 28px;
    line-height: 28px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #82221e;
  }

  .moon {
    position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: lightyellow;
    height: 10px;
    width: 10px;
    border-radius: 7px;
    box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.6);
  }

  .startingHand {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 11px;
    line-height: 10px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    &.color1 {
      color: #550000;
      background-color: #ffe1e1;
    }
    &.color2 {
      color: #000055;
      background-color: #ddeeff;
    }
    &.color3 {
      color: #005500;
      background-color: #deffde;
    }
    &.color4 {
      color: #550055;
      background-color: #f5ddff;
    }
  }

  .join {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  .actionArrow {
    height: 30px;
    padding: 0 8px;
  }

  .tap {
    height: 40px;
    position: relative;

    .image {
      transform: rotate(15deg);
    }

    .arrow {
      position: absolute;
      right: 0;
      top: 6px;
      height: 30px;
    }
  }
  .tap.creature,
  .tap.dragon,
  .tap.demon {
    width: 54px;

    .image {
      height: 42px;
      margin-top: -2px;
    }
  }
  .tap.self {
    width: 35px;
    .image {
      height: 36px;
    }
  }

  .unTap {
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;

    .image,
    .image2,
    .image3 {
      transform: rotate(90deg);
      position: absolute;
    }

    .arrow {
      position: absolute;
      right: 0;
    }
  }

  .unTap.creature,
  .unTap.dragon,
  .unTap.demon {
    width: 38px;
    .image {
      height: 42px;
      bottom: -7px;
      left: 4px;
    }
    .arrow {
      right: 0;
      top: -4px;
      height: 26px;
    }
  }

  .unTap.self {
    width: 162px;
    .image {
      height: 36px;
      bottom: -4px;
      left: 5px;
    }
    .arrow {
      left: 3px;
      top: -4px;
      height: 26px;
    }
    .thisArrow {
      position: absolute;
      height: 22px;
      left: 4px;
      top: 11px;
    }
    .text {
      padding-left: 44px;
    }
  }
  .unTap.any {
    width: 38px;
    .image {
      height: 36px;
      bottom: -4px;
      left: 5px;
    }
    .arrow {
      left: 3px;
      top: -2px;
      height: 26px;
    }
  }
  .unTap.allDemons {
    width: 144px;

    .image,
    .image2,
    .image3 {
      height: 38px;
    }
    .image {
      bottom: -8px;
      right: 3px;
      opacity: 0.5;
    }
    .image2 {
      bottom: -4px;
      right: 12px;
      opacity: 0.75;
    }
    .image3 {
      bottom: 0px;
      right: 21px;
    }
    .arrow {
      right: 0px;
      top: -2px;
      height: 26px;
    }
  }

  .destroy {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &.self {
      font-size: 14px;
      line-height: 15px;
    }
    &.creature {
      width: 118px;
      font-size: 15px;
      line-height: 16px;
    }
    &.anyArtifact {
      width: 84px;
      font-size: 13px;
      line-height: 14px;
    }
    &.anotherArtifact,
    &.dragonOrCreature {
      width: 96px;
      font-size: 13px;
      line-height: 14px;
    }
  }

  .thisComp {
    position: relative;
    width: 32px;
    height: 40px;
    .card {
      position: absolute;
      height: 36px;
      bottom: 0;
      left: 2px;
    }
    .thisArrow {
      position: absolute;
      height: 29px;
      top: 0;
      left: 5px;
    }
  }

  .discardAnyCreature {
    display: flex;
    align-items: center;
    .discardText {
      font-size: 14px;
      line-height: 15px;
      padding: 0 6px 0 1px;
    }
    .discardCreature {
      height: 40px;
    }
  }

  .discardACard {
    width: 58px;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
  }

  .withThisComp {
    display: flex;
    align-items: center;
  }

  .wildRestrictions {
    height: 34px;
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    font-weight: normal;
    .wildRestriction {
      position: relative;
      display: flex;
      align-items: flex-end;
      padding: 0px 1px 0 2px;
      .image {
        height: 20px;
      }
      .icon {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 8px;
        height: 8px;
        border: 1px solid $whiteOpacity;
        border-radius: 5px;
        background-color: #ca2934;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
          background-color: white;
          height: 1px;
          width: 4px;
        }
      }
    }
  }
}
